* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button {
  border: 0px;
}
input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  padding: 50px 0;
  margin: 0 0 5rem;
}
#header .box ul {
  display: flex;
  align-items: center;
}
#header .box ul li {
  margin: 0 40px 0 0;
  position: relative;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
#header .box ul li span {
  font-weight: 500;
}
#header .box ul li:last-child {
  margin: 0;
}
#header .box ul li:last-child::before {
  display: none;
}
#header .box ul li:before {
  position: absolute;
  top: 6px;
  left: auto;
  right: -22px;
  bottom: 0;
  background: #B3B3B3;
  width: 1px;
  height: 32px;
  content: "";
}
#header .r-box {
  text-align: right;
}
#header .r-box ul li {
  margin: 0 30px 0 0;
  display: inline-block;
}
#header .r-box ul li:last-child {
  margin: 0;
}
#header .r-box ul li .dropdown .eo-btn {
  background: #CDD4E1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #03276B;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .r-box ul li .dropdown .eo-btn:after {
  display: none;
}
#header .r-box ul li .dropdown .eo-btn:focus {
  box-shadow: none;
}
#header .r-box ul li .dropdown .dropdown-menu {
  padding: 30px 30px;
  border-radius: 16px;
  border: 2px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(161, 161, 161, 0.15);
  width: 280px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box {
  padding: 0 0 20px;
  border-bottom: 1px solid #DEDEDE;
  margin: 0 0 20px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box h2 {
  overflow: hidden;
  color: #03276B;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 15px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box p {
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
#header .r-box ul li .dropdown .dropdown-menu li {
  margin: 0;
  display: block;
}
#header .r-box ul li .dropdown .dropdown-menu li a {
  padding: 10px 0;
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
}
#header .r-box ul li .dropdown .dropdown-menu li a:hover {
  background: none;
}
#header .r-box ul li .dropdown .dropdown-menu li a img {
  margin: 0 5px 0 0;
}
#header .r-box ul li .dropdown .dropdown-menu .l-box {
  padding: 15px 0 0;
  border-top: 1px dashed #DEDEDE;
  margin: 15px 0 0;
}

.block {
  padding: 3rem 3rem 0;
}
@media (max-width: 992px) {
  .block .img-hold img {
    width: 100%;
  }
}
.block .f-block {
  padding: 2rem 0 0;
}
.block .f-block .logo-bar {
  margin: 0 0 6rem;
}
.block .f-block .form-block {
  margin: 0 0 5rem;
}
.block .f-block .form-block h1 {
  color: #1E1E1E;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 15px;
}
.block .f-block .form-block p {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 35px;
}
.block .f-block .form-block .box {
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 0 15px 0 15px;
  position: relative;
}
.block .f-block .form-block .box label {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: -9px;
  background: #fff;
  margin: 0;
  padding: 0 10px;
}
.block .f-block .form-block .box input {
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 350;
  line-height: 20px;
  border: 0;
  padding: 25px 10px 20px;
}
.block .f-block .form-block .box input::-moz-placeholder {
  color: #1E1E1E;
}
.block .f-block .form-block .box input::placeholder {
  color: #1E1E1E;
}
.block .f-block .form-block .box input:focus {
  box-shadow: none;
}
.block .f-block .form-block .box .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
}
.block .f-block .form-block .box .field-icon:after {
  position: absolute;
  top: -7px;
  left: -14px;
  right: auto;
  bottom: 0;
  content: "";
  z-index: 1;
  width: 1px;
  height: 30px;
  background: #DEDEDE;
}
.block .f-block .form-block .form-check {
  margin: 14px 0 0;
}
.block .f-block .form-block .form-check input {
  width: 25px;
  height: 25px;
}
.block .f-block .form-block .form-check input:focus {
  box-shadow: none;
}
.block .f-block .form-block .form-check input:checked {
  background-color: #03276B;
  border-color: #03276B;
}
.block .f-block .form-block .form-check label {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 350;
  line-height: 22px;
  margin: 6px 0 0 12px;
}
.block .f-block .form-block .login-btn {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #03276B;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0 auto;
  width: 160px;
}
.block .f-block .form-block .login-btn:focus {
  box-shadow: none;
}
.block .b-links ul {
  display: flex;
  align-items: center;
}
.block .b-links ul li {
  margin: 0 20px 0 0;
}
.block .b-links ul li a {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.block .b-links ul li:last-child {
  margin: 0;
}

.head-area {
  text-align: center;
}
.head-area h2 {
  border-radius: 5px;
  background: rgba(197, 47, 49, 0.1);
  padding: 12px 12px;
  color: #C52F31;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 25px;
  display: inline-block;
}
.head-area h1 {
  color: #1E1E1E;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 40px;
}

.two-block .box {
  padding: 24px 24px;
  background: linear-gradient(211deg, #DEDEDE -239.13%, rgba(222, 222, 222, 0) 69.97%);
  border: 1px solid #DEDEDE;
  border-radius: 15px 15px;
  margin: 0 0 50px;
  min-height: 290px;
}
.two-block .box h2 {
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
}
.two-block .box h2 img {
  margin: 0 10px 0 0;
}
.two-block .box h2 span {
  margin: 0 0 0 10px;
}
.two-block .box h2 span img {
  margin: 0;
}
.two-block .box .rang-bar .output {
  border: 1px solid #DEDEDE;
  border-radius: 15px 15px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  margin: 0 0 45px;
}
.two-block .box .rang-bar .output h3 {
  color: #03276B;
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 0 0 20px;
}
.two-block .box .rang-bar .output h6 {
  color: #03276B;
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 0 0 20px;
  opacity: 0.2;
}
.two-block .box .rang-bar .output span {
  color: #03276B;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  opacity: 0.2;
  padding: 0 20px 0 0;
  border-right: 1px solid #DEDEDE;
}
.two-block .box .rang-bar .range-container .rangeslider--horizontal {
  height: 8px;
  background: #DFDFDF;
}
.two-block .box .rang-bar .range-container .rangeslider--horizontal .rangeslider__fill {
  background: #C52F31;
  opacity: 1;
}
.two-block .box .rang-bar .range-container .rangeslider--horizontal .rangeslider__handle {
  background: #C52F31;
  top: -12px;
  width: 48px;
  height: 32px;
  border-radius: 25px;
}
.two-block .box .rang-bar .range-container .rangeslider--horizontal .rangeslider__handle:after {
  background: url(../images/icon04.png) no-repeat;
  background-size: 100%;
  width: 8px;
  height: 10px;
  padding: 0;
  border-radius: 0;
}
.two-block .box .rang-bar .range-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0;
}
.two-block .box .rang-bar .range-container ul li:first-child {
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
}
.two-block .box .rang-bar .range-container ul li:last-child {
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
}
.two-block .box .rang-bar .range-container ul li span {
  width: 1px;
  height: 8px;
  background: #E1E1E1;
  display: block;
}

.btn-area {
  text-align: center;
}
.btn-area .pro-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 20px 24px;
  background: #03276B;
  border-radius: 12px 12px;
}
.btn-area .pro-btn img {
  margin: 0 0 0 5px;
}
.btn-area .pro-btn:focus {
  box-shadow: none;
}/*# sourceMappingURL=main.css.map */