* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

input,
button {
  border: 0px;
}
input:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  display: inline-block;
  background-color: transparent;
}

body {
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  padding: 50px 0;
  margin: 0 0 5rem;
}
@media (max-width: 992px) {
  #header {
    margin: 0 0 2rem;
  }
}
#header .box ul {
  display: flex;
  align-items: center;
}
#header .box ul li {
  margin: 0 40px 0 0;
  position: relative;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
}
#header .box ul li span {
  font-weight: 500;
}
#header .box ul li:after {
  position: absolute;
  top: 7px;
  left: auto;
  right: -22px;
  bottom: 0;
  background: #D9D9D9;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%;
}
#header .box ul li:last-child {
  margin: 0;
}
#header .box ul li:last-child::before {
  display: none;
}
#header .box ul li:last-child::after {
  display: none;
}
#header .box ul li.active {
  opacity: 1;
  font-weight: 500;
}
#header .box ul li:first-child {
  opacity: 1;
}
#header .box ul li:first-child:before {
  position: absolute;
  top: 6px;
  left: auto;
  right: -22px;
  bottom: 0;
  background: #B3B3B3;
  width: 1px;
  height: 32px;
  content: "";
}
#header .box ul li:first-child:after {
  display: none;
}
#header .r-box {
  text-align: right;
}
#header .r-box ul li {
  margin: 0 30px 0 0;
  display: inline-block;
}
#header .r-box ul li:last-child {
  margin: 0;
}
#header .r-box ul li .dropdown .eo-btn {
  background: #CDD4E1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #03276B;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .r-box ul li .dropdown .eo-btn:after {
  display: none;
}
#header .r-box ul li .dropdown .eo-btn:focus {
  box-shadow: none;
}
#header .r-box ul li .dropdown .dropdown-menu {
  padding: 30px 30px;
  border-radius: 16px;
  border: 2px solid #DEDEDE;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(161, 161, 161, 0.15);
  width: 280px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box {
  padding: 0 0 20px;
  border-bottom: 1px solid #DEDEDE;
  margin: 0 0 20px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box h2 {
  overflow: hidden;
  color: #03276B;
  text-overflow: ellipsis;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin: 0 0 15px;
}
#header .r-box ul li .dropdown .dropdown-menu .d-box p {
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
#header .r-box ul li .dropdown .dropdown-menu li {
  margin: 0;
  display: block;
}
#header .r-box ul li .dropdown .dropdown-menu li a {
  padding: 10px 0;
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
}
#header .r-box ul li .dropdown .dropdown-menu li a:hover {
  background: none;
}
#header .r-box ul li .dropdown .dropdown-menu li a img {
  margin: 0 5px 0 0;
}
#header .r-box ul li .dropdown .dropdown-menu .l-box {
  padding: 15px 0 0;
  border-top: 1px dashed #DEDEDE;
  margin: 15px 0 0;
}
#header.c-inv .box ul li:after {
  display: none;
}
#header.c-inv .box ul li:nth-child(3) {
  border-radius: 5px;
  background: #EDF9F3;
  padding: 12px 12px;
  color: #48C382;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 1;
}
#header.c-inv .box ul li:last-child {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  opacity: 1;
}
#header.c-inv .box ul li:last-child img {
  margin: 0 5px 0 0;
}

.block {
  padding: 3rem 3rem 0;
}
@media (max-width: 992px) {
  .block .img-hold img {
    width: 100%;
  }
}
.block .f-block {
  padding: 2rem 0 0;
}
.block .f-block .logo-bar {
  margin: 0 0 6rem;
}
.block .f-block .form-block {
  margin: 0 0 5rem;
}
.block .f-block .form-block h1 {
  color: #1E1E1E;
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
  margin: 0 0 15px;
}
.block .f-block .form-block p {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 35px;
}
.block .f-block .form-block .box {
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 0 15px 0 15px;
  position: relative;
}
.block .f-block .form-block .box label {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: -9px;
  background: #fff;
  margin: 0;
  padding: 0 10px;
}
.block .f-block .form-block .box input {
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 350;
  line-height: 20px;
  border: 0;
  padding: 25px 10px 20px;
}
.block .f-block .form-block .box input::-moz-placeholder {
  color: #1E1E1E;
}
.block .f-block .form-block .box input::placeholder {
  color: #1E1E1E;
}
.block .f-block .form-block .box input:focus {
  box-shadow: none;
}
.block .f-block .form-block .box .field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
}
.block .f-block .form-block .box .field-icon:after {
  position: absolute;
  top: -7px;
  left: -14px;
  right: auto;
  bottom: 0;
  content: "";
  z-index: 1;
  width: 1px;
  height: 30px;
  background: #DEDEDE;
}
.block .f-block .form-block .form-check {
  margin: 14px 0 0;
}
.block .f-block .form-block .form-check input {
  width: 25px;
  height: 25px;
}
.block .f-block .form-block .form-check input:focus {
  box-shadow: none;
}
.block .f-block .form-block .form-check input:checked {
  background-color: #03276B;
  border-color: #03276B;
}
.block .f-block .form-block .form-check label {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 350;
  line-height: 22px;
  margin: 6px 0 0 12px;
}
.block .f-block .form-block .login-btn {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #03276B;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0 auto;
  width: 160px;
}
.block .f-block .form-block .login-btn:focus {
  box-shadow: none;
}
.block .b-links ul {
  display: flex;
  align-items: center;
}
.block .b-links ul li {
  margin: 0 20px 0 0;
}
.block .b-links ul li a {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.block .b-links ul li:last-child {
  margin: 0;
}

.head-area {
  text-align: center;
}
.head-area h2 {
  border-radius: 5px;
  background: rgba(197, 47, 49, 0.1);
  padding: 12px 12px;
  color: #C52F31;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 0 25px;
  display: inline-block;
}
.head-area h1 {
  color: #1E1E1E;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 40px;
}

.two-block .box {
  padding: 24px 24px;
  background: linear-gradient(211deg, #DEDEDE -239.13%, rgba(222, 222, 222, 0) 69.97%);
  border: 1px solid #DEDEDE;
  border-radius: 15px 15px;
  margin: 0 0 50px;
  min-height: 300px;
}
.two-block .box h2 {
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
}
.two-block .box h2 img {
  margin: 0 10px 0 0;
}
.two-block .box h2 span {
  margin: 0 0 0 10px;
}
.two-block .box h2 span img {
  margin: 0;
}
.two-block .box .rang-bar .range__value {
  border: 1px solid #DEDEDE;
  border-radius: 15px 15px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  margin: 0 0 45px;
}
.two-block .box .rang-bar .range__value span {
  color: #03276B;
  font-size: 40px;
  font-weight: 500;
  line-height: 42px;
  padding: 0 0 0 15px;
}
.two-block .box .rang-bar .range__value label {
  color: #03276B;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  opacity: 0.2;
  padding: 0 15px 0 0;
  border-right: 1px solid #DEDEDE;
}
.two-block .box .rang-bar .range-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0;
}
.two-block .box .rang-bar .range-container ul li:first-child {
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
}
.two-block .box .rang-bar .range-container ul li:last-child {
  color: #1E1E1E;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px;
}
.two-block .box .rang-bar .range-container ul li span {
  width: 1px;
  height: 8px;
  background: #E1E1E1;
  display: block;
}
.two-block .box .rang-bar .range__slider [type=range] {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 8px;
  border-radius: 6px;
  background: #DFDFDF;
  outline: none;
  padding: 0;
  margin: 0;
}
.two-block .box .rang-bar .range__slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 32px;
  background: #C52F31 url(../images/icon04.png) no-repeat center center;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
}
.two-block .box .rang-bar .range__slider [type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 48px;
  height: 32px;
  background: #C52F31;
  border-radius: 25px;
  cursor: pointer;
}
.two-block .box .rang-bar input::-moz-focus-inner, .two-block .box .rang-bar input::-moz-focus-outer {
  border: 0;
}

.btn-area {
  text-align: center;
}
.btn-area .pro-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  padding: 20px 24px;
  background: #03276B;
  border-radius: 12px 12px;
}
.btn-area .pro-btn img {
  margin: 0 0 0 5px;
}
.btn-area .pro-btn:focus {
  box-shadow: none;
}

.cata-area .box {
  background: linear-gradient(211deg, #DEDEDE -117.26%, rgba(222, 222, 222, 0) 69.98%);
  border-radius: 24px;
  border: 2px solid #DEDEDE;
  position: relative;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cata-area .box {
    margin: 0 0 15px;
  }
}
.cata-area .box .t-hold {
  padding: 40px 0 0 40px;
  margin: 0 0 5rem;
}
.cata-area .box .t-hold h2 {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 23px;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .cata-area .box .t-hold h2 {
    font-size: 16px;
    line-height: 18px;
  }
}
.cata-area .box .btn-area {
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  background: #000;
  content: "";
  border-radius: 24px 0 24px 0;
  border: 1px solid #000;
}
.cata-area .box .btn-area a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cata-area .box .btn-area a i {
  color: #fff;
  font-size: 20px;
}

.mid-area {
  margin: 0 0 30px;
}
.mid-area h3 {
  display: flex;
  align-items: center;
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.mid-area h3 img {
  margin: 0 7px 0 0;
}
.mid-area h3 span {
  margin: 0 0 0 7px;
}

.form-block {
  margin: 0 0 30px;
}
.form-block .box {
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 0 15px 0 15px;
  position: relative;
}
.form-block .box label {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  position: absolute;
  top: -9px;
  background: #fff;
  margin: 0;
  padding: 0 10px;
  z-index: 1;
}
.form-block .box input {
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
  padding: 25px 60px 20px 10px;
  position: relative;
}
.form-block .box input::-moz-placeholder {
  color: #1E1E1E;
}
.form-block .box input::placeholder {
  color: #1E1E1E;
}
.form-block .box input:focus {
  box-shadow: none;
}
.form-block .box textarea {
  border: none;
  overflow: hidden;
  color: #1E1E1E;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  border: 0;
  padding: 25px 60px 20px 10px;
  position: relative;
}
.form-block .box textarea:focus {
  box-shadow: none;
}
.form-block .box span {
  position: absolute;
  top: 0;
  left: auto;
  right: 20px;
  bottom: 0;
  content: "";
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
  display: flex;
  align-items: center;
}
.form-block .box span::after {
  position: absolute;
  top: 22px;
  left: -15px;
  right: auto;
  bottom: 0;
  content: "";
  width: 1px;
  height: 25px;
  background: #1E1E1E;
  opacity: 0.3;
}
.form-block .info {
  padding: 0 25px;
}
.form-block .info .btn-group {
  width: 100%;
}
.form-block .info .btn-group .seven {
  background: url(../images/icon15.png) no-repeat center left 20px;
  padding: 25px 10px 20px 65px;
  border-radius: 8px !important;
  text-align: left;
  color: #BBBBBB;
}
.form-block .info .btn-group .five {
  background: url(../images/icon16.png) no-repeat center left 20px;
  padding: 25px 10px 20px 65px;
  border-radius: 8px !important;
  text-align: left;
  color: #BBBBBB;
}
.form-block .info .btn-group input:checked + label {
  border: 1px solid #000;
  color: #000;
}
.form-block .form-switch {
  margin: 0;
  display: flex;
  align-items: center;
}
.form-block .form-switch label {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #1E1E1E;
  margin: 3px 0 0 15px;
}
.form-block .form-switch input {
  width: 3.2em;
  height: 2em;
}
.form-block .form-switch input:checked {
  background-color: #03276B;
}

.r-detail .top-area {
  margin: 0 0 30px;
}
.r-detail .top-area h3 {
  display: flex;
  align-items: center;
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.r-detail .top-area h3 img {
  margin: 0 7px 0 0;
}
.r-detail .top-area h3 span {
  margin: 0 0 0 7px;
}
.r-detail .radio-area {
  margin: 0 0 35px;
}
.r-detail .radio-area .btn-group {
  flex-wrap: wrap;
}
.r-detail .radio-area .btn-group label {
  margin: 0 10px 10px 0;
  border-radius: 100px !important;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 15px 15px;
  width: 100px;
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.r-detail .radio-area .btn-group label:focus {
  box-shadow: none;
}
.r-detail .radio-area .btn-group input:checked + label {
  background: #000;
  border: 1px solid #000;
  color: #fff;
}
.r-detail .bott-area {
  margin: 0 0 30px;
}
.r-detail .bott-area h3 {
  display: flex;
  align-items: center;
  color: #1E1E1E;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.r-detail .bott-area h3 span {
  margin: 0 0 0 7px;
}
.r-detail .check-area {
  margin: 0 0 9rem;
}
.r-detail .check-area .btn-group {
  display: flex;
  flex-wrap: wrap;
}
.r-detail .check-area .btn-group label {
  margin: 0 10px 10px 0;
  border-radius: 100px !important;
  border: 1px solid #DEDEDE;
  background: #FFF url(../images/icon12.png) no-repeat center left 10px;
  padding: 15px 15px 15px 50px;
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.r-detail .check-area .btn-group label:focus {
  box-shadow: none;
}
.r-detail .check-area .btn-group input:checked + label {
  background: #03276B url(../images/icon11.png) no-repeat center left 10px;
  border: 1px solid #03276B;
  color: #fff;
}
.r-detail .add-area {
  padding: 16px 16px 16px 25px;
  background: #F1F6FF;
  border: 1px solid #03276B;
  border-radius: 15px 15px;
}
.r-detail .add-area .l-box {
  display: flex;
  align-items: center;
}
.r-detail .add-area .l-box .t-box {
  padding: 0 0 0 10px;
}
.r-detail .add-area .l-box .t-box h2 {
  color: #03276B;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin: 0 0 7px;
}
.r-detail .add-area .l-box .t-box h3 {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 350;
  line-height: 16px;
}
.r-detail .add-area .r-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.r-detail .add-area .r-box h2 {
  color: #1E1E1E;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  margin: 0 15px 0 0;
}
.r-detail .add-area .r-box h2 span {
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 350;
  line-height: 22px;
  opacity: 0.5;
}
.r-detail .add-area .r-box .add-btn {
  border-radius: 12px;
  background: #03276B;
  padding: 20px 24px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.r-detail.solar .check-area {
  margin: 0 0 6rem;
}
.r-detail.ins .form-switch {
  margin: 0 0 11.5rem;
}
.r-detail.ins .radio-area label {
  width: auto;
}
.r-detail.hvac .radio-area label {
  width: auto;
}
.r-detail.other .form-block {
  margin: 0 0 7rem;
}
.r-detail.door .del-btn {
  float: right;
  display: none;
}
.r-detail.door .mid-area {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 50px;
}
.r-detail.door .mid-area h3 i {
  font-style: normal;
  margin: 0 0 0 5px;
}
.r-detail.door .mid-area .ad-btn {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.r-detail.door .mid-area .ad-btn img {
  margin: 0 5px 0 0;
}
.r-detail.door .mid-area .ad-btn:focus {
  box-shadow: none;
}
.r-detail.door .form-block {
  min-height: 420px;
  max-height: 420px;
  overflow-y: auto;
  /* Handle */
  /* Handle on hover */
}
.r-detail.door .form-block::-webkit-scrollbar {
  width: 5px;
}
.r-detail.door .form-block::-webkit-scrollbar-track {
  background: #DEDEDE;
  border-radius: 10px;
  margin: 0 0 0 5px;
}
.r-detail.door .form-block::-webkit-scrollbar-thumb {
  background: #03276B;
  border-radius: 10px;
}
.r-detail.door .form-block::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.r-detail.door .form-block .clonedInput {
  padding: 20px 20px 20px;
  border-radius: 12px;
  border: 1px solid #DEDEDE;
  margin: 0 0 20px;
}
.r-detail.door .form-block .qtySelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.r-detail.door .form-block .qtySelector input {
  border: none;
  padding: 0;
  width: 35px;
  color: #1E1E1E;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  padding: 25px 5px 20px 5px;
}
.r-detail.door .form-block .qtySelector .fa {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
  color: #03276B;
  background: #F1F6FF;
  font-size: 10px;
  border-radius: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 5px 0 0;
}
.r-detail.door .form-block .qtySelector .fa:first-child {
  margin: 6px 0 0;
}
.r-detail.door .add-area {
  margin: 0;
}
.r-detail.win .del-btn {
  float: right;
}
.r-detail.win .mid-area {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 50px;
}
.r-detail.win .mid-area h3 i {
  font-style: normal;
  margin: 0 0 0 5px;
}
.r-detail.win .mid-area .ad-btn {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.r-detail.win .mid-area .ad-btn img {
  margin: 0 5px 0 0;
}
.r-detail.win .mid-area .ad-btn:focus {
  box-shadow: none;
}
.r-detail.win .form-block {
  min-height: 420px;
  max-height: 420px;
  overflow-y: auto;
  /* Handle */
  /* Handle on hover */
}
.r-detail.win .form-block::-webkit-scrollbar {
  width: 5px;
}
.r-detail.win .form-block::-webkit-scrollbar-track {
  background: #DEDEDE;
  border-radius: 10px;
  margin: 0 0 0 5px;
}
.r-detail.win .form-block::-webkit-scrollbar-thumb {
  background: #03276B;
  border-radius: 10px;
}
.r-detail.win .form-block::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.r-detail.win .form-block .clonedInput {
  padding: 20px 20px 20px;
  border-radius: 12px;
  border: 1px solid #DEDEDE;
  margin: 0 0 20px;
}
.r-detail.win .form-block .qtySelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.r-detail.win .form-block .qtySelector input {
  border: none;
  padding: 0;
  width: 35px;
  color: #1E1E1E;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  padding: 25px 5px 20px 5px;
}
.r-detail.win .form-block .qtySelector .fa {
  width: 24px;
  height: 24px;
  float: right;
  cursor: pointer;
  color: #03276B;
  background: #F1F6FF;
  font-size: 10px;
  border-radius: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 5px 0 0;
}
.r-detail.win .form-block .qtySelector .fa:first-child {
  margin: 6px 0 0;
}
.r-detail.win .add-area {
  margin: 0;
}

.c-detail {
  padding: 0 0 2rem;
}
.c-detail .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}
.c-detail .top-bar ul {
  display: flex;
  align-items: center;
}
.c-detail .top-bar ul li {
  margin: 0 20px 0 0;
  position: relative;
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.5;
}
.c-detail .top-bar ul li.active {
  opacity: 1;
}
.c-detail .top-bar ul li:last-child {
  margin: 0;
}
.c-detail .top-bar ul li:last-child:after {
  display: none;
}
.c-detail .top-bar ul li::after {
  position: absolute;
  top: 5px;
  left: auto;
  right: -14px;
  bottom: 0;
  background: #D9D9D9;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 100%;
}
.c-detail .top-bar h2 {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.c-detail .top-bar h2 span {
  color: #FFF;
  font-size: 12px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0.24px;
  background: #000;
  padding: 5px 5px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  margin: 0 0 0 10px;
}
.c-detail .top-bar button {
  color: #C52F31;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration-line: underline;
  text-decoration: underline;
}
.c-detail .d-box {
  border-radius: 12px;
  border: 1px solid #DEDEDE;
  background: #FFF;
  padding: 20px 20px 20px;
  margin: 0 0 30px;
}
.c-detail .d-box .t-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #DEDEDE;
}
.c-detail .d-box .t-bar .l-area h3 {
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
.c-detail .d-box .t-bar .l-area h3 img {
  margin: 0 10px 0 0;
}
.c-detail .d-box .t-bar .r-area ul {
  display: flex;
  align-items: center;
}
.c-detail .d-box .t-bar .r-area ul li {
  margin: 0 30px 0 0;
  position: relative;
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}
.c-detail .d-box .t-bar .r-area ul li:last-child {
  margin: 0;
}
.c-detail .d-box .t-bar .r-area ul li:last-child::after {
  display: none;
}
.c-detail .d-box .t-bar .r-area ul li:after {
  position: absolute;
  top: 0px;
  left: auto;
  right: -14px;
  bottom: 0;
  background: #DEDEDE;
  width: 1px;
  height: 24px;
  content: "";
}
.c-detail .d-box .t-bar .r-area ul li span {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.5;
}
.c-detail .d-box .table {
  margin: 0;
}
.c-detail .d-box .table tr th {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  opacity: 0.5;
  border: 0;
  padding: 10px 8px;
  width: 20%;
}
.c-detail .d-box .table tr td {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border: 0;
  padding: 10px 8px;
  width: 20%;
}
.c-detail .side-bar {
  margin: 42px 0 0 0;
}
@media (max-width: 992px) {
  .c-detail .side-bar {
    margin: 0;
  }
}
.c-detail .side-bar .top-br {
  background: linear-gradient(211deg, #DEDEDE -239.13%, rgba(222, 222, 222, 0) 69.97%);
  border: 1px solid #DEDEDE;
  border-radius: 15px 15px;
  padding: 24px 24px;
  margin: 0 0 30px;
}
.c-detail .side-bar .top-br h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #DEDEDE;
}
.c-detail .side-bar .top-br ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.c-detail .side-bar .top-br ul li {
  width: 50%;
  position: relative;
}
.c-detail .side-bar .top-br ul li:after {
  position: absolute;
  top: 0px;
  left: auto;
  right: 30px;
  bottom: 0;
  background: #DEDEDE;
  width: 1px;
  height: 60px;
  content: "";
}
.c-detail .side-bar .top-br ul li p {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.5;
  margin: 0 0 20px;
}
.c-detail .side-bar .top-br ul li h4 {
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}
.c-detail .side-bar .top-br ul li h4 span {
  font-weight: 400;
}
.c-detail .side-bar .top-br ul li:last-child::after {
  display: none;
}
.c-detail .side-bar .mid-br {
  border-radius: 12px;
  border: 1px solid #03276B;
  background: #F1F6FF;
  padding: 25px 25px;
  margin: 0 0 30px;
}
.c-detail .side-bar .mid-br .box {
  display: flex;
  align-items: center;
  margin: 0 0 30px;
}
.c-detail .side-bar .mid-br .box .img-hold {
  margin: 0 15px 0 0;
}
.c-detail .side-bar .mid-br .box .t-hold h5 {
  color: #03276B;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  margin: 0 0 6px;
}
.c-detail .side-bar .mid-br .box .t-hold h6 {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 350;
  line-height: 16px;
  opacity: 0.7;
}
.c-detail .side-bar .mid-br ul {
  border-bottom: 1px solid #03276B;
}
.c-detail .side-bar .mid-br ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 25px;
}
.c-detail .side-bar .mid-br ul li h2 {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.c-detail .side-bar .mid-br ul li h4 {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.c-detail .side-bar .mid-br .p-box {
  padding: 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-detail .side-bar .mid-br .p-box h3 {
  color: #1E1E1E;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.c-detail .side-bar .mid-br .p-box h4 {
  color: #03276B;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
}
.c-detail .side-bar .mid-br .p-box h4 span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 0 -5px 0 0;
}
.c-detail .side-bar .btn-area .c-btn {
  padding: 20px 24px;
  border-radius: 12px;
  background: #03276B;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
  margin: 0 0 25px;
}
.c-detail .side-bar .btn-area .c-btn:focus {
  box-shadow: none;
}
.c-detail .side-bar .btn-area a {
  color: #1E1E1E;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-detail .side-bar .btn-area a img {
  margin: 0 8px 0 0;
}
.c-detail .side-bar .btn-area a h5 {
  text-decoration-line: underline;
}
.c-detail .side-bar .btn-area a span {
  color: #C52F31;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 10px;
  color: #C52F31;
  text-decoration: none;
  border-radius: 5px;
  background: rgba(197, 47, 49, 0.1);
  margin: 0 0 0 10px;
}
.c-detail.detail .top-bar {
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #DEDEDE;
}
.c-detail.detail .mid-area {
  margin: 0 0 40px;
}
.c-detail.inv .c-info ul {
  display: flex;
  flex-wrap: wrap;
}
.c-detail.inv .c-info ul li {
  width: 33.33%;
  margin: 0 0 30px;
}
.c-detail.inv .c-info ul li p {
  color: #9A9EAA;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  margin: 0 0 10px;
}
.c-detail.inv .c-info ul li h3 {
  color: #1E1E1E;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.36px;
}/*# sourceMappingURL=main.css.map */